body {
	font-family: 'Roboto';
	font-size: 100%; /* Generally set the font-size to 100% in the body - you can then change with em in the other areas */
	line-height: 1.7em; /* The line-height property in CSS controls the space between lines of text. It is often set in a unitless value (e.g. line-height: 1.4; ) */
	color: #504741;
  background: #FEF3E4;
  margin: 0;
}

/* Navbar Styling Start */
header {
  background: #FFDE98;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.topnav{
  font-size: 150%;
  width: 70%;
  height: 3rem;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.topnav .logo{
  display: inline-block;
  position: absolute;
  top: 0.5rem;
}

#logo-text {
  display: inline-block;
  position: relative;
  margin-left: 5.5rem;
}
#logo-text a{
  font-family: Roboto;
  font-weight: 500;
  display: inline-block;
  color: #504741;
  line-height: normal;
  text-decoration: none;
  font-size: 40px;
}

.topnav .logo img{
  width: 80px;
}
.topnav ul {
  margin-top: 0.25em;
  list-style: none;
}

.topnav li {
  display: inline-block;
  margin-left: 5rem;
}

.topnav .right {
  float: right;
  position: relative;
}

.topnav ul > li > a {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  color: #504741;
  line-height: normal;
  text-decoration: none;
}

/* Navbar Styling End */

/* Footer Styling Start */

footer {
  position: absolute;
  bottom: 0;
  background-color: #FFDE98;
  width: 100%;
  height: 205px;
}

footer h3 {
  margin-bottom: 0px;
}
footer a{
  text-decoration: none;
  color: #504741;
}
.footer-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "a b c"
  "d d d";
}
footer ul {
  list-style: none;
  padding-left: 0;
}

.footer-row .col-left {
  grid-area: a;
  float: left;
  margin: 0;
}

footer .col-right {
  text-align: right;
  grid-area: c;
  float: right;
}

footer hr {
  height: 1px;
  border-width:0;
  color: #504741;
  background-color: #504741;
}

footer .row{
  text-align: center;
}

footer .row p{
  font-size: 12px;
  margin-top: 0px;
}

/* Footer Styling End */

.container {
  width: 70%;
  margin: auto;
}
.about {
  display: inline-block;
  margin: auto;
  line-height: normal;
  margin-top: 15%;
  background: white;
  padding: 10px;
  box-shadow: 1px 1px 3px #888888;
}